@charset "utf-8";

/*배경이미지 설정*/
#wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/*로고 영역*/
/*로고박스*/
#wrap h1 {
	position: absolute;
	left: 50px;
	top: 40px;
	z-index: 100;
	text-align: center;
}
/*Paris 텍스트*/
#wrap h1 strong {
	display: block;
	font: bold 16px/1.1 Arial,sans-serif;
	color: #333;
}

/*로고 이미지*/
#wrap h1 img {
	margin: 10px 0 20px;
}


/*SNS 영역*/
#wrap .sns {
	position: absolute;
	left: 50px;
	bottom: 70px;
	z-index: 100;
}
#wrap .sns li {
	display: inline-block;
	margin-right: 20px;
}
#wrap .sns li a {
	font-size: 26px;
	color: #fff;
}


/*2.컨텐츠 동영상 클립영역*/

.content {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

/*각 무비클립 설정 (세로라인과 너비값)*/
.content article {
	width: 12%;
	height: 100%;
	background: url('../images/divider.png') no-repeat left center;
	/*플롯*/
	float: right;
	overflow: hidden;
	transition: all 0.7s;
	cursor: pointer;
	position: relative;
}

/*처음 로딩시 타이틀*/
.content article h2 {
	position: absolute;
	left: 20px;
	top: 80%;
	z-index: 100;
	font: bold 20px Raleway,sans-serif;
	color: #bdbdbd;
	/*텍스트 열 데코레이션*/
	border-left: 3px solid #bdbdbd;
	padding-left: 15px;
	margin-top: -10px;
	transition: all 0.5s;
}

.content article:hover h2 {
	color: #ccc;
	border-color: #ccc;
}

/*무비클립*/
.content article video {
	width: auto;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 1.2s;
}

.content article:hover video {
	opacity: .9;
	
}
/*데코라인*/
.content article div {
	width: 100%;
	height: 0;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	opacity: 0.5;
	transition: all 0.5s;
}

.content article:hover div {
	height: 70px;
	margin-top: -35px;
}

/*호버시 타이틀*/
.content article h3 {
	font: 40px Raleway,sans-serif;
	color: #fff;
	text-align: right;
	/*포지션*/
	/*안 보였다가 나오도록 코딩*/
	position: absolute;
	right: -310px;
	bottom: 210px;
	/*지연시간 0.2초*/
	transition: all 0.5s 0.2s;
}

.content article:hover h3 {
	right: 20px;
}

/*호버시 내용*/
.content article p {
	width: 320px;
	height: 150px;
	font: 16px/1.5 Arial,sans-serif;
	color: #fff;
	text-align: right;
	position: absolute;
	font-style: italic;
	right: -310px;
	bottom: 50px;
	/*지연시간 0.7초*/
	transition: all 0.5s 0.7s;
}

.content article:hover p {
	right: 20px;
}



/*3. 푸터영역*/
footer {
    width: 100%;
    height: 40px;
    background: #000;
    /*포지션*/
    position: absolute;
    left: 0;
    bottom: 0;
    
    font: 12px/3.2 Arial,sans-serif;
    color: #fff;
    letter-spacing: 2px;
    opacity: .4;
}
footer ul {
    /*포지션*/
    position: absolute;
    left: 50px;
    bottom: 0;
}
footer ul li {
    display: inline-block;
    margin-right: 40px;
}
footer span {
    position: absolute;
    right: 50px;
    bottom: 0;
}









































































